.aligner {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    width:99%;
    height:98%;

    .age {
        font-family: 'Avenir', 'helvetica neue', helvetica, arial, sans-serif;
        font-size: 30px;

        .years {
            font-size: 5em;
        }
        .days {
            font-size: 4em;
        }
        .hours {
            font-size: 3em;
        }
        .minutes {
            font-size: 2em;
        }
        .seconds {
            font-size: 1em;
        }
    }
}
